streamlit==1.40.1
speechrecognition==3.10.4
nltk==3.9.1
numpy==1.26.4
wavio==0.0.9
opencv-python-headless==4.10.0.84
streamlit-webrtc==0.47.9
pandas==2.2.3
matplotlib==3.9.2
reportlab==4.2.5
moviepy==1.0.3
gtts==2.5.3
Pillow==10.4.0
openai==1.54.4
requests==2.32.3
pydub==0.25.1
imageio==2.36.0
imageio-ffmpeg==0.5.1